@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bongo Box</h1>
    <p> Bongo Box is a website that lets you store and manage data about actors and movies. </p>
    <h2 class="display-6">Feel free to look around the website and check and see if your favorite actors and movies are in the database!</h2>
</div>
